/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

section {
  display: none;
}

h2 {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e9cda7;
}
@font-face {
  font-family: 'PROGRESS PERSONAL USE';
  src: url('./fonts/PROGRESSPERSONALUSE.woff2') format('woff2'),
    url('./fonts/PROGRESSPERSONALUSE.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cardinal';
  src: url('./fonts/Cardinal-Regular.woff2') format('woff2'),
    url('./fonts/Cardinal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FFF Tusj';
  src: url('./fonts/FFFTusj-Bold.woff2') format('woff2'),
    url('./fonts/FFFTusj-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Briberra';
  src: url('./fonts/Briberra.woff2') format('woff2'),
    url('./fonts/Briberra.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '8BIT WONDER';
  src: url('./fonts/8BITWONDERNominal.woff2') format('woff2'),
    url('./fonts/8BITWONDERNominal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FFF Tusj';
  src: url('./fonts/FFFTusj-Bold.woff2') format('woff2'),
    url('./fonts/FFFTusj-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Barcelony';
  src: url('./fonts/BarcelonyRegular.woff2') format('woff2'),
    url('./fonts/BarcelonyRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Briberra';
  src: url('./fonts/Briberra.woff2') format('woff2'),
    url('./fonts/Briberra.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#menu {
  cursor: pointer;
}

.menu-scale-up {
  position: relative;
  border-radius: 50%;
  -webkit-animation: scaleup 2s;
  animation: scaleup 2s;
}

.menu-scale-down {
  position: relative;
  border-radius: 50%;
  -webkit-animation: scaledown 2s;
  animation: scaledown 2s;
}

@-webkit-keyframes scaleup {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  25% {
    -webkit-transform: translateX(45vw);
    transform: translateX(45vw);
  }

  50% {
    -webkit-transform: translateX(45vw) rotate(40deg);
    transform: translateX(45vw) rotate(40deg);
  }

  100% {
    -webkit-transform: translateX(45vw) scale(15) rotate(40deg);
    transform: translateX(45vw) scale(15) rotate(40deg);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

@keyframes scaleup {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  25% {
    -webkit-transform: translateX(45vw);
    transform: translateX(45vw);
  }

  50% {
    -webkit-transform: translateX(45vw) rotate(40deg);
    transform: translateX(45vw) rotate(40deg);
  }

  100% {
    -webkit-transform: translateX(45vw) scale(15) rotate(40deg);
    transform: translateX(45vw) scale(15) rotate(40deg);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

@-webkit-keyframes scaledown {
  0% {
    -webkit-transform: translateX(45vw) scale(15) rotate(40deg);
    transform: translateX(45vw) scale(15) rotate(40deg);
  }
  50% {
    -webkit-transform: translateX(45vw) rotate(40deg);
    transform: translateX(45vw) rotate(40deg);
  }
  75% {
    -webkit-transform: translateX(45vw);
    transform: translateX(45vw);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes scaledown {
  0% {
    -webkit-transform: translateX(45vw) scale(15) rotate(40deg);
    transform: translateX(45vw) scale(15) rotate(40deg);
  }
  50% {
    -webkit-transform: translateX(45vw) rotate(40deg);
    transform: translateX(45vw) rotate(40deg);
  }
  75% {
    -webkit-transform: translateX(45vw);
    transform: translateX(45vw);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.menu-btn {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -30px;
  left: -30px;
  z-index: 12;
  position: fixed;
}

.menu-text {
  position: absolute;
  z-index: 2;
  -webkit-transform: rotate(320deg);
  -ms-transform: rotate(320deg);
  transform: rotate(320deg);
  top: 50px;
  margin-left: 40px;
  color: white;
}

.menu-items {
  display: none;
  position: fixed;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  line-height: 5;
  position: relative;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
}

/* 
  font-family: 'Abril Fatface', cursive;
  font-family: 'Concert One', cursive;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Ubuntu Mono', monospace;
  font-family: 'Varela', sans-serif;
  font-family: 'Yatra One', cursive; */

.menu-text {
  font-family: 'Abril Fatface', cursive;
}

.menu-items a {
  color: white;
  background-color: rgb(129, 12, 12);
  letter-spacing: 5px;
  padding: 3px;
}

/* Menu item appearing */
.menu-items-appear {
  -webkit-animation: menu-items-appear 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: menu-items-appear 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes menu-items-appear {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes menu-items-appear {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* Menu items disapearing */
.menu-items-fadeout {
  -webkit-animation: menu-items-fadeout 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: menu-items-fadeout 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes menu-items-fadeout {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
}

@keyframes menu-items-fadeout {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
}
/* Styles from portfolio */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(./img/chesspic-opti.jpg) no-repeat center center/cover;
  padding: 0;
  margin: 0;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.video-container:after {
  content: '';
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  padding: 0;
  margin: 0;
}

/* intro */
.portrait {
  position: fixed;
  right: 7vw;
  z-index: 11;
  width: 100px;
  top: 12vh;
  border-radius: 50%;
  display: none;
}

.portrait-exit-on-link-click {
  -webkit-animation: portrait-exit-on-link-click 1.5s forwards;
  animation: portrait-exit-on-link-click 1.5s forwards;
}

@-webkit-keyframes portrait-exit-on-link-click {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-10vw);
    transform: translateX(-10vw);
  }
  100% {
    -webkit-transform: translateX(40vw);
    transform: translateX(40vw);
  }
}

@keyframes portrait-exit-on-link-click {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  33% {
    -webkit-transform: translateX(-10vw);
    transform: translateX(-10vw);
  }
  100% {
    -webkit-transform: translateX(40vw);
    transform: translateX(40vw);
  }
}

.portrait-exit {
  -webkit-animation: portrait-exit 1.5s forwards;
  animation: portrait-exit 1.5s forwards;
}

@-webkit-keyframes portrait-exit {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0.85;
  }
  100% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
}

@keyframes portrait-exit {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0.85;
  }
  100% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
}

/* a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
  } */

.portrait-entrance {
  -webkit-animation: portrait-entrance 2s forwards;
  animation: portrait-entrance 2s forwards;
}

@-webkit-keyframes portrait-entrance {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0.85;
  }
}

@keyframes portrait-entrance {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0.85;
  }
}

h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2;
  font-family: 'Barcelony';
  z-index: 11;
  margin: 0;
  padding: 0;
  will-change: transform;
}

.name-move-up {
  -webkit-animation: name-move-up 2s forwards;
  animation: name-move-up 2s forwards;
}

.name-move-back {
  -webkit-animation: name-move-back 2s forwards;
  animation: name-move-back 2s forwards;
}

@-webkit-keyframes name-move-up {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    font-size: 60px;
  }
  100% {
    -webkit-transform: translate(-30vw, -28vh);
    transform: translate(-30vw, -28vh);
    font-size: 30px;
  }
}

@keyframes name-move-up {
  0% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    font-size: 60px;
  }
  100% {
    -webkit-transform: translate(-30vw, -28vh);
    transform: translate(-30vw, -28vh);
    font-size: 30px;
  }
}

@-webkit-keyframes name-move-back {
  0% {
    -webkit-transform: translate(-30vw, -28vh);
    transform: translate(-30vw, -28vh);
    font-size: 30px;
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    font-size: 60px;
  }
}

@keyframes name-move-back {
  0% {
    -webkit-transform: translate(-30vw, -28vh);
    transform: translate(-30vw, -28vh);
    font-size: 30px;
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    font-size: 60px;
  }
}

.name-intro {
  -webkit-animation: name-intro 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: name-intro 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes name-intro {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes name-intro {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  color: #e9cda7;
  padding: 0 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* curved text */
.rotate-center {
  -webkit-animation: rotate-center 1.5s ease-in-out both;
  animation: rotate-center 1.5s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

svg {
  position: relative;
  width: 100px;
  height: 50px;
}

.svg-fade-out {
  -webkit-animation: svg-fade-out 1.5s forwards;
  animation: svg-fade-out 1.5s forwards;
}
@-webkit-keyframes svg-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes svg-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

text {
  font-size: 5rem;
  fill: rgb(223, 223, 223);
  font-family: '8BIT WONDER';

  letter-spacing: 10px;
}

svg {
  width: 100%;
  height: 260px;
  position: absolute;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

/* section projet */

h2 {
  font-family: 'IBM Plex Serif', serif;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  text-shadow: 1px 1px 2px grey;
  color: #e9cda7;
  display: inline-block;
  font-size: 30px;
  /* border: 2px solid #2bbbad; */
}

#work {
  text-align: center;
  background-color: #e9cda7;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.project {
  position: relative;
  width: 80vw;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-work-overlay {
  position: absolute;
  /* bottom: 4px; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.img-work-overlay p {
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 17px;
}

.allthecolors {
  background-color: #e9cda7;
  background-color: rgb(129, 12, 12);
}
/* 
  font-family: 'Abril Fatface', cursive;
  font-family: 'Concert One', cursive;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Ubuntu Mono', monospace;
  font-family: 'Varela', sans-serif;
  font-family: 'Yatra One', cursive; */

/* cards */
.card {
  width: 86vw;
  margin: auto;
  margin-top: 30px;
}

.card-title {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.card-entrance {
  -webkit-animation: card-entrance 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: card-entrance 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes card-entrance {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

@keyframes card-entrance {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

.card-exit {
  -webkit-animation: card-exit 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: card-exit 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes card-exit {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

@keyframes card-exit {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

.card-content {
  background-color: #2bbbad;
  color: white;
}

.card h3 {
  text-align: left;
  font-size: 30px;
  color: #2bbbad;
}

.card .github-icon {
  text-align: center;
  padding: 5px;
}

.card .btn {
  margin: 5px;
}

.card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5px;
}
.card-button .btn {
  margin-left: 0px;
}

.card .card-reveal {
  padding: 22px;
}

div.card-reveal p {
  text-align: left;
  font-family: 'Yatra One', cursive;
  font-size: 15px;
}
/*
  font-family: 'Abril Fatface', cursive;
  font-family: 'Concert One', cursive;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'IBM Plex Serif', serif;
  font-family: 'Ubuntu Mono', monospace;
  font-family: 'Varela', sans-serif;
  font-family: 'Yatra One', cursive; */
/* fin cards */

.progress {
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 100px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 45vw;
}

.progress-value {
  -webkit-box-shadow: 0 10px 40px -10px #fff;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #2bbbad;
  height: 10px;
  will-change: auto;
}
.load1 {
  -webkit-animation: load1 3s normal forwards;
  animation: load1 3s normal forwards;
}
.load2 {
  -webkit-animation: load2 3s normal forwards;
  animation: load2 3s normal forwards;
}
.load3 {
  -webkit-animation: load3 3s normal forwards;
  animation: load3 3s normal forwards;
}
.load4 {
  -webkit-animation: load4 3s normal forwards;
  animation: load4 3s normal forwards;
}
.load5 {
  -webkit-animation: load5 3s normal forwards;
  animation: load5 3s normal forwards;
}
.load6 {
  -webkit-animation: load6 3s normal forwards;
  animation: load6 3s normal forwards;
}
.load7 {
  -webkit-animation: load7 3s normal forwards;
  animation: load7 3s normal forwards;
}

@-webkit-keyframes load1 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes load1 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes load2 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes load2 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes load3 {
  0% {
    width: 0;
  }
  100% {
    width: 72%;
  }
}

@keyframes load3 {
  0% {
    width: 0;
  }
  100% {
    width: 72%;
  }
}

@-webkit-keyframes load4 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes load4 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes load5 {
  0% {
    width: 0;
  }
  100% {
    width: 33%;
  }
}

@keyframes load5 {
  0% {
    width: 0;
  }
  100% {
    width: 33%;
  }
}

@-webkit-keyframes load6 {
  0% {
    width: 0;
  }
  100% {
    width: 33%;
  }
}

@keyframes load6 {
  0% {
    width: 0;
  }
  100% {
    width: 33%;
  }
}

@-webkit-keyframes load7 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes load7 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

#cv {
  background: #e9cda7;
  width: 100vw;
  margin: auto;
  text-align: center;
  font-family: 'FFF Tusj';
  scroll-behavior: smooth;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.skills h2 {
  display: block;
  width: 45vw;
}

.skills .hard-skills {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: auto;
  align-self: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 92vh;
  -ms-flex-item-align: center;
  align-self: center;
  width: 50%;
  padding: 0;
  margin: 0;
}

.soft-skills {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: auto;
  align-self: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'Yatra One', cursive;
  height: 92vh;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 0;
  margin: 0;
  width: 50%;
}

.soft-skills ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  -webkit-transform: translateX(-1000px);
  -ms-transform: translateX(-1000px);
  transform: translateX(-1000px);
}

.soft-skills ul li {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  border-radius: 5px;
  margin: 10px;
  padding: 3px;
  font-weight: 600;
  color: #2bbbad;
  font-family: 'Yatra One', cursive;
  border: solid 1px white;
  will-change: transform;
}

.soft-skills-ul-anim {
  -webkit-animation: soft-skills-ul-anim 1.2s forwards;
  animation: soft-skills-ul-anim 1.2s forwards;
}

@-webkit-keyframes soft-skills-ul-anim {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes soft-skills-ul-anim {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.hard-skills p {
  color: rgb(129, 12, 12);
  font-weight: 700;
  font-size: 18px;
}

.hard-skills h2 {
  color: rgb(129, 12, 12);
  font-weight: 700;
  font-family: 'FFF Tusj';
}

.soft-skills h2 {
  line-height: 1.12;
  color: #2bbbad;
}

.soft-skills .btn {
  /* top: 40px; */
  font-family: 'Abril Fatface', cursive;
}

h2 {
  font-family: 'Yatra One', cursive;
}

#carousel {
  height: 100vh;
}

/* Scrolldown */
.chevron-container {
  position: fixed;
  width: 24px;
  height: 24px;
  bottom: 100px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: rgb(129, 12, 12);
}

.chevron:before {
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
  -ms-transform: skew(0deg, 30deg);
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
  -ms-transform: skew(0deg, -30deg);
  transform: skew(0deg, -30deg);
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
/* 
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 12px;
    color: rgb(129, 12, 12);
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0.25;
    animation: pulse 2s linear alternate infinite;
  } */

@-webkit-keyframes pulse {
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

#contact {
  background-color: white;
  text-align: center;
  width: 100vw;
  margin: auto;
}

.contact-container {
  width: 95vw;
  margin: auto;
}

form {
  width: 80vw;
  text-align: left;
}

#contact h2 {
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-size: 40px;
}

.contact-icon {
  margin: 50px 10px;
}

.btn-hidden {
  display: none;
}

@media (min);
